*{margin:0; padding: 0;border: 0; outline: 0; list-style: none;}
html{padding-bottom: 80px}
body{background-color: #F2F3E3!important; height: 100%;}
p, span, h1, h2, h3, h4, h5, h6, label, input, button, a, th, tr, td, select, span, small, select, option, div, textarea{font-family: 'Montserrat', sans-serif;}





/* H E A D E R  */
/* H E A D E R  */
/* H E A D E R  */

h1{font-size: 18px; text-indent:-4999px; display:block; background: url(../img/Logo-Ibacem_HOR.png) no-repeat top left;height: 64px; width: 180px; float: left}
header{border-bottom: 1px solid #029184; padding: 30px 0; width: 100%; height: 70px}
.wrapper{width: 1000px; margin:0 auto;}
#logoff{float: right;  clear: both;  margin-right: 14px;  background: #d63031;  color: white;  padding: 5px 10px;  font-size: 12px;  border-radius: 6px;  text-decoration: none;  font-weight: bold;  margin-top: 10px;}

/* H E A D E R  */
/* H E A D E R  */
/* H E A D E R  */





/* T E L A   D E   L O G I N */
/* T E L A   D E   L O G I N */
/* T E L A   D E   L O G I N */


#formLogin{width: 390px; margin:60px auto 0;}
	#formLogin h2{font-size: 30px; font-weight:900; color: black}
	#formLogin div{margin-top: 50px}
	#formLogin i{width: 30px; height: 30px; float: left; margin-right:4px; font-size: 25px; color: rgba(237, 203, 33, 1); margin-top:7px;}
	#formLogin input{height: 35px; float: left; padding: 8px 0 8px 12px; border-radius: 6px; width: 85%; margin-bottom: 20px; font-size: 16px; color: black}
	#formLogin button{border-radius: 6px;background-color: #029184; width: 150px; height: 35px; color: white; cursor: pointer; margin-top: 20px }
	#formLogin a, #esqueciSenha {float:right; display: block ;color: black; margin-top: 29px; font-size: 14px; margin-right: 27px}
.erroForm{text-align: center;font-weight: bold; margin-top: 20px; color:red; display: none}

/* T E L A   D E   L O G I N */
/* T E L A   D E   L O G I N */
/* T E L A   D E   L O G I N */



/*P A I N E L   D E   A D M I N I S T R A D O R */
/*P A I N E L   D E   A D M I N I S T R A D O R */
/*P A I N E L   D E   A D M I N I S T R A D O R */

#userInfo{float:right;width: 300px; padding-top: 10px}
	#userInfo p{float: right; margin-top: 15px; font-size: 15px; margin-right: 14px; text-align: right;}
	#userInfo p span{font-weight: bolder}
	#userInfo img{float: right; border-radius: 30px}

#menuHolder{width: 100%; background-color: #dbdeaf;}
#abas {width: 1000px;  overflow: hidden;  padding-top: 15px;  margin:0 auto;  height: 44px;}
	#abas button {background-color: inherit;  float: left;  border: none;  outline: none;  cursor: pointer;  padding: 14px 20px;  transition: 0.3s;  background-color: #e5e8ba;  margin-right: 10px;  color: #008c7f; border-top-right-radius: 6px;border-top-left-radius: 6px}
	#abas button:hover {background-color: #f2f3e3;}
	#abas button.active {  background-color: #f2f3e3;}

.conteudoAba {display: none;  padding: 40px 12px;border-top: none;  animation: fadeEffect 1s;}

#importDataArea, #gerenciarUsers,#miniDashProdutor, #miniDashAnalista, #entradaFinanceira, #pesquisaFinanceira, #pesquisaControle {display: block; float: left; width: 100%; padding: 0 0 30px 0; border-bottom: 1px solid #dbdeaf; margin-bottom: 20px}

#importDataArea h2, #gerenciarUsers h2,#miniDashProdutor h2, #miniDashAnalista h2, #entradaFinanceira h2, #pesquisaFinanceira h2, #pesquisaControle h2{float: left;width: 100%; margin-bottom: 40px}
#importDataArea button, #gerenciarUsers button, #miniDashProdutor button, #miniDashAnalista button, #entradaFinanceira button{border-radius: 6px;background-color: #029184; width: 190px; height: 44px; color: white; cursor: pointer; float: left; }
#importDataArea input, #entradaFinanceira input{height: 44px; float: left; padding: 8px 0 8px 12px; border-radius: 6px; width: 180px; font-size: 15px; color: black; border:1px solid #008c7f;margin-right: 20px}
#importDataArea button{float:right; width:162px}
#importDataArea .edd-root{width:150px!important}
#select-ano-safra{width: 150px}
#erroImportData, #mensagemErro{animation: mensErro 4s;margin: 9px auto 0;  display: none;  width: 100%;  background: #d63031;  font-weight: bold;  color: white;  text-align: center;  padding: 0px 0;  border-radius: 6px; height: 0px}
.erroRangeData{width:100%;clear:both;animation: mensErro 4s;margin: 9px auto 0;  display: none;   background: #d63031;  font-weight: bold;  color: white;  text-align: center;  padding: 0px 0;  border-radius: 6px; height: 0px; }


.tableHolder{width: 100%; float: left; color:#2d3436;}
	.tableHolder h2{float: left;width: 100%; margin-bottom: 40px}
	.table {width: 100%; margin: 20px 0}
	.table th{background-color:#029184; padding: 10px 2px ;font-size: 13px;color: #fff; font-weight: lighter;}
	.table thead tr th:first-child{border-top-left-radius: 6px}
	.table thead tr th:last-child{border-top-right-radius: 6px}
	.table tr{background: #fff; ;}
	.table tr td{padding: 13px 3px; font-size: 13px;}
	.table tr td .fa-check-circle{color:#00b894;}
	.table tr td .fa-times-circle{color:#d63031;}
  .table tr td a{color:#0984e3; text-decoration: none; font-size: 16px}
  .table tr td i{font-size: 16px;}
#dynatable-query-search-my-table, #dynatable-query-search-my-table-user,#dynatable-query-search-my-table-comercial, #dynatable-query-search-my-table-qualidade{height: 40px; padding: 8px 0 8px 12px; border-radius: 6px; width: 250px; font-size: 15px; color: black; border:1px solid #008c7f;}
#dynatable-per-page-my-table, #dynatable-per-page-my-table-user,#dynatable-per-page-my-table-comercial{height: 40px; padding: 8px 0 8px 12px;font-size: 15px;color: black; border:1px solid #008c7f;border-radius: 6px;}
.checkboxVisivel{display: none}
.tdClicavel{cursor: pointer; height: 100%; width: 100%;}
.tdClicavel a{z-index: 20}

.editarUsuario{margin-right: 20px}
#ModalNovoUser input{height: 44px; float: left; padding: 8px 0 8px 12px; border-radius: 6px; width: 250px; font-size: 15px; color: black; border:1px solid #008c7f;margin-right: 20px}
#ModalNovoUser fieldset{margin:20px 0;}
#ModalNovoUser .cancelarUser{background:#d63031;border-radius: 6px; width: 130px; height: 44px; color: white; cursor: pointer; float: left; margin-right: 30px;}
#ModalNovoUser .confirmarUser, .confirmarDelete, .confirmarPesquisa{border-radius: 6px;background-color: #029184; width: 190px; height: 44px; color: white; cursor: pointer; float: left;margin-right: 30px;}
.confirmarDeleteModal{border-radius: 6px;background-color: #029184; width: 100px; height: 44px; color: white; cursor: pointer; float: left;margin-right: 30px;}

#cancelaEdicao{float: left;  margin-left: 14px;  background: #d63031;  color: white;  padding: 5px 10px;  font-size: 12px;  border-radius: 6px;  text-decoration: none;  font-weight: bold;}
#formEntFinanceira{clear: both}


#ModalEditarUser input{height: 44px; float: left; padding: 8px 0 8px 12px; border-radius: 6px; width: 250px; font-size: 15px; color: black; border:1px solid #008c7f;margin-right: 20px}
#ModalEditarUser fieldset{margin:20px 0;}
#ModalEditarUser .cancelarUserEditar{background:#d63031;border-radius: 6px; width: 130px; height: 30px; color: white; cursor: pointer; float: left; margin-right: 30px; text-align: center; font-size: 13px; padding-top: 13px; text-decoration: none}
#ModalEditarUser .confirmarUserEditar, .confirmarDeleteEditar, .confirmarPesquisaEditar{border-radius: 6px;background-color: #029184; width: 190px; height: 44px; color: white; cursor: pointer; float: left;margin-right: 30px;}
#escondeCampoEditar{position: absolute;  background-color: rgb(242, 243, 227);  width: 262px;  height: 58px;  z-index: 50;  right: 99px;  bottom: 97px; }


#ModalDeleteUser p, #ModalDeleteRegistro p{margin:40px 0;}
.cancelarDelete{background:#d63031;border-radius: 6px; width: 130px; height: 40px; color: white; cursor: pointer; float: left;}
#confirmarDelete, #confirmarImport, #confirmarEntrada, #confirmarComment{border-radius: 6px;background-color: #029184; width: 80px; height: 40px; color: white; cursor: pointer; float: left;margin-right: 30px;}

#inserirEntrada{background-color: #029184!important; width: 140px!important; float: right!important;border-radius: 6px; height: 30px; color: white; cursor: pointer;padding-top: 13px; text-decoration: none; font-size: 13px; text-align: center}
#editarEntradaFinanceiro{background-color: #0984e3!important; width: 140px!important; float: right!important;border-radius: 6px; height: 30px; color: white; cursor: pointer;padding-top: 13px; text-decoration: none; font-size: 13px; text-align: center}

#escondeCampo{position: absolute;  background-color: rgb(242, 243, 227);  width: 262px;  height: 58px;  z-index: 50;  right: 99px;  bottom: 97px;  display: block;}
#confirmarUserEditar{height:30px!important; padding-top: 13px; text-decoration: none; font-size: 13px; text-align: center}

.hidden{display: none;}

/*P A I N E L   D E   P R O D U T O R */
/*P A I N E L   D E   P R O D U T O R */
/*P A I N E L   D E   P R O D U T O R */


.statusControleOK{color:#bdc3c7!important;font-size: 13px!important;}
.statusControleOK i{color:#bdc3c7!important;}
.statusControleAtual{color: #00b894!important; font-weight: bolder}
.statusControleNext{color: #f39c12!important;}
.fa-arrow-right{color:#b2bec3!important; margin:0 5px;}
.fa-check-circle{color: #00b894}

.imprimirExtrato{margin-right: 15px}
#miniDashProdutor{display: block; float: left; width: 100%; padding: 0 0 30px 0; border-bottom: 1px solid #dbdeaf; margin-bottom: 20px}
#saldoProdutor{float:right;}
	#saldoProdutor small{float: right;font-size: 11px;}
	#saldoProdutor span{float: right; clear: both; font-size: 28px; color: #00b894; font-weight: bolder }

.historico{text-align: left!important; padding-left: 8px; float: left}

.editarControleProdutor, .visualizarQualidade{font-size: 13px!important; color: #000!important;}
.visualizarQualidade:hover, .editarControleProdutor:hover{text-decoration: underline;}
.editarControleProdutor i, .visualizarQualidade i{font-size: 16px!important; color: #d63031}
.visualizarQualidade i{color: #0984e3!important;}


#input-filtroData, #input-filtroData2, #input-filtroData3{height: 44px; float: left; padding: 8px 0 8px 12px; border-radius: 6px; width: 250px; font-size: 15px; color: black; border:1px solid #008c7f;margin-right: 20px; margin-bottom: 10px}
#filtrarRange, #filtrarRange2, #filtrarRange3{background-color:#0984e3!important; width: 100px!important; float: left;border-radius: 6px;  height: 44px;  color: white;  cursor: pointer;}
#apagarRange, #apagarRange2, #apagarRange3{background-color:#d63031!important; width: 150px!important; float: left;border-radius: 6px;  height: 44px;  color: white;  cursor: pointer; display: none}

.imprimirResumo{border-radius: 6px;background-color: #029184; width: 190px; height: 44px; color: white; cursor: pointer; float: right; }


/*P A I N E L   D E   A N A L I S T A  */
/*P A I N E L   D E   A N A L I S T A  */
/*P A I N E L   D E   A N A L I S T A  */

.controleInput{height: 44px; float: left; padding: 8px 0 8px 12px; border-radius: 6px; width: 140px; font-size: 15px; color: black; border:1px solid #008c7f;margin-right: 20px}
.importarPDFAnalista{margin-right: 20px}
.importarFOTOSAnalista{overflow: hidden;border-radius: 6px;background-color: #029184; width: 190px; height: 29px; color: white; float: left;text-align: center; font-size: 13px;cursor: pointer;}
.importarFOTOSAnalista input{position: absolute;    top: 0;    right: 0;    margin: 0;    opacity: 0;    font-size: 200px !important;    direction: ltr;    cursor: pointer!important;}
.confirmarUpload{float: right!important; background-color:#0984e3!important; width: 100px!important; }
.btnAnexa{border-radius: 6px;background-color: #029184; width: 170px; height: 44px; color: white; cursor: pointer; float: left; text-align: center; font-size: 13px; overflow: hidden;position: relative}
.btnAnexa span{cursor: pointer; display: block; margin-top: 14px}
#minidashAnalista .btnAnexa input[type=file]{position: absolute;  top: 0;  right: 0;  margin: 0;  border: solid transparent;  width: 100%;  opacity: 0;  cursor: pointer; height: 100%}

.cardUpload{width: 100%; margin-top: 20px; display: none; }
.cardHeader{padding: 10px 0 10px 15px; background-color: #DBDEAF; font-size: 14px; color:#008c7f}
.media{padding:10px 25px; color:#008c7f; font-size: 14px; border-bottom:1px solid #DBDEAF }
.progress{display: flex;  height: 1.25rem;  overflow: hidden;  font-size: .75rem;  background-color: #DBDEAF;  border-radius: .25rem; margin-top: 8px; font-weight: bolder; text-align: center}

.progress-bar{padding-top: 2px; color: white}
.progress-bar-striped{background-color: cadetblue}
.bg-successo{background-color: #029184}
.bg-danger{width:100%!important;background-color: #d63031}

#minidashAnalista .edd-root{float:left; width: 140px}
#empresaSelect .edd-root{width: 350px!important}

#input-data{width: 110px!important}
#input-valor{width: 80px!important}
#input-descricao{width:280px!important}
#input-nf{width:80px!important}
#entradaFinanceira {display: none}
#entradaFinanceira .edd-root{width: 180px!important;}
.confirmarEntrada{width:140px!important; float:right!important}

#resultadoPesquisaFinanceiro{ padding-top: 20px}
#pesquisaFinanceira .edd-root, #pesquisaControle .edd-root{float: left; width: 350px}

.someUpload{animation: someUpload 2s}

.invis{background-color: #F2F3E3!important; color:#F2F3E3}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeModal {
  from {opacity: 0;}
  to {opacity: 0.99;}
}
@keyframes mensErro{
  0%   {opacity: 0;height: 0; padding:0 0;}
  10%  {opacity: 1;height: 20px; padding:8px 0;}
  90%  {opacity: 1;height: 20px; padding:8px 0;}
  100% {opacity: 0;height: 0; padding:0 0;}
}
@keyframes animaTable{
  from {opacity:0; height: 0}
  to{opacity:1; height: 100%}
}

@keyframes someUpload{
  0%{ opacity:1; display: block}
  100%{opacity:0; display: none!important}
}

.dynatable-per-page-label{float:left;padding-top: 11px}



/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  opacity: 0.99;
  animation: fadeModal 0.5s;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgb(242, 243, 227);
  margin: auto;
  padding: 40px 80px;
  width: 90%;
  max-width: 545px;
  min-width: 545px;
  animation: fadeEffect 0.5s;
  border-radius: 6px;
}
.modal-content2 {
  position: relative;
  background-color: rgb(242, 243, 227);
  margin: auto;
  padding: 40px 80px;
  width: 90%;
  max-width: 240px;
  animation: fadeEffect 0.5s;
  border-radius: 6px;
  text-align: center;
}
.modal-content3 {
  position: relative;
  background-color: rgb(242, 243, 227);
  margin: auto;
  padding: 40px 80px;
  width: 90%;
  max-width: 350px;
  animation: fadeEffect 0.5s;
  border-radius: 6px;
  text-align: center;
}
.modal-content4 {
  position: relative;
  background-color: rgb(242, 243, 227);
  margin: auto;
  padding: 20px 20px;
  width: 40%;
  
  animation: fadeEffect 0.5s;
  border-radius: 6px;
  text-align: center;
}

.modal-content5 {
  position: relative;
  background-color: rgb(242, 243, 227);
  margin: auto;
  padding: 40px 80px;
  width: 90%;
  max-width: 450px;
  animation: fadeEffect 0.5s;
  border-radius: 6px;
}
.modal-content3 ul{text-align:left; margin:20px 0; padding:0 0 20px 0 ; font-size: 14px; border-bottom: 2px solid #dbdeaf}
.modal-content3 ul li{margin:10px 0}

.modal-content4 ul{text-align:left; margin:20px 0; padding:0 0 20px 0 ; font-size: 13px;}
.modal-content4 ul li{margin:5px 0}

.destacaImport{font-weight: bolder;font-size: 13px}
#containerControles{overflow: scroll; overflow-x: hidden;height: 352px; margin:20px 0 20px 0;}
#containerControles2{height: 352px; margin:20px 0 20px 0;}
  #containerControles2 textarea {resize: none; width: 100%; height: 170px; padding:10px}
#containerControles3{height: 352px; margin:20px 0 20px 0;}


/* The Close Button */
.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 85px;
  font-weight: lighter;
}

.close:hover,
.close:focus {
  color: #029184;
  text-decoration: none;
  cursor: pointer;
}


